.containerCity {
  color: blue;
  font-weight: bold;
}
.containerCurrent {
  color: #006ec5;
  font-size: 24px;
}
#weatheremoji {
  font-size: 100px;
}
.currentT {
  font-size: 80px;
}
#buttonCF {
  font-size: 20px;
  vertical-align: bottom;
}
#colSide {
  font-size: 20px;
}
.ContainerWeek {
  font-size: 18px;
}
.containerWeekemoji {
  font-size: 18px;
}
.containerDegrees {
  font-size: 20px;
}
.card {
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
}
.card-body {
  padding: 30px;
}
.source {
  font-size: small;
  font-family: monospace;
  display: block;
}
a {
  color: #006ec5;
}
.WeatherForecast {
  text-align: center;
  margin: 40px 0;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 50px;
}
