body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fcd6d5;
}
ul {
  padding: 0;
}

li {
  list-style: none;
}
h1 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background-color: #fff;
}

.overview {
  font-family: monospace;
  font-size: 18px;
  color: gray;
}
.current-temp {
  font-size: 50px;
}
.emoji-row .unit {
  position: fixed;
}
.emoji-row .active {
  color: black;
  cursor: default;
}
.humWind {
  font-family: monospace;
  font-size: 18px;
  color: gray;
}
.WeatherForecast {
  text-align: center;
  color: #000;
}
.forecast-day {
  font-size: 20px;
}
.forecast-temperature-minmax {
  font-size: 16px;
  opacity: 0.6;
}
.forecast-temperature-min {
  opacity: 0.4;
}

.emoji-row .active:hover {
  text-decoration: none;
}
